.mainContainer {
  margin: 30px 0;

  .rentalPrice {
    font-size: 20px;
  }

  .rentalButton {
    margin-bottom: 20px;
  }

  .imgHeader {
    object-fit: cover;
    height: 400px;
    width: 100%;
    margin-bottom: 30px;
  }
}

.filterForm {

  .textField {
    width: 100px;
    margin-left: 20px;
  }

  .filterButton {
    margin-left: 20px;
  }
}

.paginationItem {
  margin: 30px 0;
}

.mapContainer {
  height: 400px
}

.paper {
  padding: 20px;
  margin-bottom: 30px;
}

.marker {
  background: url('../assets/images/marker.png');
  background-size: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

@media (max-width: 767px) {
  .rentalsList {
    margin-top: 20px;
  }
}
