.mainContainer {
  margin: 30px 0;

  .deleteButton {
    width: 100%;
    margin-top: 40px;
  }

  .imgHeader {
    object-fit: cover;
    height: 400px;
    width: 100%;
    margin-bottom: 30px;
    opacity: 0.7;
  }
}
