.btn {
  display: inline-block;
  text-align: center;
  border: none;
  border-radius: 0px;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  transition: 0.1s;
  background: $primary;
  position: relative;
  font-weight: 700;
  letter-spacing: 0.5px;
  white-space: nowrap;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

  &.w-100 {
    min-width: initial !important;
  }

  &:not(:disabled):hover {
    background: darken($primary, 3%);
  }

  &:disabled {
    cursor: not-allowed;
    background: #ccc;
  }

  &.btn-round {
    border-radius: 100px;
  }

  &.btn-outline {
    box-shadow: none;
    font-weight: 400;

    &:hover {
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
  }

  &.btn-light {
    color: #ffffff;
    background-color: $light;

    &:not(:disabled):hover {
      background: darken($light, 3%);
    }

    &.btn-outline {
      color: $light;
      border-color: $light;

      &:hover {
        background: $light;
      }
    }
  }

  &.btn-info {
    text-align: left;
    background: $background;
    color: $light;
    text-transform: none;
  }

  &.btn-white {
    background: #fff;
    color: $primary;

    &:hover {
      background: $background;
    }

    &.btn-outline {
      color: #fff;
    }
  }

  &.btn-sm {
    height: 30px;
    min-width: 80px;
    line-height: 31px;
    padding: 0 15px;

    &.btn-outline {
      line-height: 28px;
    }
  }

  &.btn-outline {
    border: 1px solid $primary;
    background: transparent;
    color: $primary;
    line-height: 38px;

    &:hover {
      background-color: $primary;
      color: #fff;
    }

    &.btn-white {
      border-color: #fff;
      color: #fff;

      &:hover {
        background-color: #fff;
        color: $primary;
      }
    }
  }

  &.btn-icon {
    min-width: initial;
    padding: 0;
    line-height: 42px;

    &.btn-outline {
      line-height: 40px;
    }

    &.btn-sm {
      line-height: 32px;

      &.btn-outline {
        line-height: 30px;
      }
    }

    i {
      margin: 0;
    }
  }

  i {
    vertical-align: middle;
    margin-left: -4px;
    margin-right: 7px;
    margin-bottom: 2px;
  }
}
