input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
textarea {
  background: $background;
  box-shadow: none;
  border: 1px solid $border;
  border: none;
  border-radius: 0;
  font: $font1;
  font-size: 14px;
  color: $text;
  transition: 0.1s;
  -webkit-appearance: none;

  &.form-control {
    display: inline-block;
    width: 100%;
    height: 40px;
    border-radius: 0px;
    padding: 0 15px;
  }

  @include placeholder {
    color: lighten($light, 15%);
  }

  &.error {
    &:not(:focus) {
      @include placeholder {
        color: $danger;
      }
      color: $danger !important;
      border-color: $danger !important;
    }
  }
}

textarea.form-control {
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 100%;
  min-height: 100px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.form-row {
  margin-bottom: 15px;
}

.drop-zone-input {
  position: relative;
  background: $background;
  box-shadow: none;
  border: none;
  border-radius: 0;
  font: $font1;
  font-size: 14px;
  color: $text;
  width: 100%;
  height: 40px;
  border-radius: 6px;
  padding: 0 15px;
  line-height: 40px;
  text-align: center;
  transition: 0.1s;

  &.error {
    color: $danger;
  }

  &-selected {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    text-align: center;
    line-height: 40px;

    i {
      color: $success;
    }
  }
}

.input-icon {
  position: relative;

  i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 30px;
    width: 30px;
    text-align: center;
    pointer-events: none;
  }

  &:not(&-right) {
    i {
      left: 0;
    }

    input {
      padding-left: 30px;
    }
  }

  &-right {
    i {
      right: 0;
    }

    input {
      padding-right: 30px;
    }
  }
}

.form-group {
  margin-bottom: 20px;

  &-label {
    display: block;
    margin-bottom: 10px;
    color: $light;
  }
}

// custom select
select {
  appearance: none;
  background: transparent;
  font-size: 12;

  option {
    color: #333;
  }
}

.styled-select {
  padding: 0;
  margin: 0;
  border: 1px solid $border;
  min-width: 205px;
  overflow: hidden;
  background-color: #fff;
  position: relative;

  &:after {
    content: "\f107";
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    right: 11px;
    top: 7px;
    pointer-events: none;
  }

  &.error {
    select {
      color: $danger;
    }
  }

  &.w-100 {
    min-width: initial !important;
  }

  &.short {
    min-width: 165px;
  }

  &.light {
    border: 1px solid #ffffff;
    color: #ffffff;
    background-color: transparent;

    select {
      color: #ffffff;
    }
  }

  select {
    font: $font1;
    font-size: 14px;
    padding: 6px 10px;
    width: 110%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    appearance: none;
  }
}

.segmented-control {
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  height: 40px;
  border: 1px solid $border;
  background: #fff;

  &.segmented-control-sm {
    height: 30px;

    .segmented-control-option {
      label {
        line-height: 28px;
      }
    }
  }

  &.segmented-control-vertical {
    height: auto;
    flex-direction: column;

    .segmented-control-option {
      label {
        border: none;
        border-top: 1px solid $border;
      }

      &:first-child {
        label {
          border: none;
        }
      }
    }
  }

  .segmented-control-option {
    flex: 1;

    &:first-child {
      label {
        border-left: none;
      }
    }

    input {
      display: none;

      &:checked ~ label {
        background: $light;
        border-color: lighten($light, 5%);
        color: #fff;
      }

      &:disabled ~ label {
        opacity: 0.5;
        cursor: not-allowed;

        &:hover {
          background: none;
        }
      }
    }

    label {
      border-left: 1px solid $border;
      line-height: 38px;
      display: block;
      cursor: pointer;
      color: $light;
      text-align: center;
      flex: 1;
      font-size: 14px;

      &:hover {
        background: $background;
      }
    }
  }
}

.checkbox {
  display: flex;
  flex: 1;
  align-items: flex-start;
  cursor: pointer;

  i {
    width: 14px;
    margin-top: 3px;
  }

  .checkbox-label {
    width: calc(100% - 14px);
  }
}

@media (max-width: 479px) {
  .styled-select {
    min-width: 120px !important;

    &:after {
      top: 7px;
    }

    select {
      font-size: 12px;
      padding: 6px 32px 6px 12px;
    }
  }
}
