.ReactModal__Body--open {
  overflow: hidden;
}

.ReactModalPortal {
  position: relative;
  z-index: 10000;
}

.ReactModalPortal .react-modal-overlay > div {
  opacity: 0;
}

.ReactModalPortal .react-modal-overlay {
  & > div {
    transition: opacity 200ms;
  }

  &_after-open > div {
    opacity: 1;
  }

  &_before-close > div {
    opacity: 0;
  }
}

.react-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
}

.react-modal-regular {
  max-width: 400px;
  margin: 150px auto;

  .modal-container {
    position: relative;
    background: #fff;
    border-radius: 0px;
    top: 20px;
    margin-top: -20px;
    padding: 30px;

    @include shadow("medium")
  }
}

@media (max-width: 767px) {
  .react-modal-regular {
    max-width: 100%;
    width: 100%;
    margin: 0;

    .modal-container {
      border-radius: 0;
    }

    .close-icon {
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;
      color: $text;
      font-size: 24px;
    }
  }
}
