// Text
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

.down-text {
  font-size: 0.75em;
  vertical-align: baseline;
}

.upper {
  text-transform: uppercase;
}

i {
  vertical-align: middle;

  &.lg {
    font-size: 1.3em;
  }
}

.link {
  cursor: pointer;
}
