// Reset all browser styles & set font-size to 100%
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

// Set HTML5 elements to block
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

// Remove built in list styling
ol, ul {
  list-style: none;
}

// Remove link underlining
a {
  text-decoration: none;
}

// Normalize block quotes
blockquote, q {
  quotes: none;
}

// Remove pseudo elements
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

// Normalize tables
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// Global border-box
*, *:before, *:after {
  box-sizing: border-box;
}

// Custom
.abs-full {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.pointer-events-none {
  pointer-events: none;
}

.justify-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.pointer {
  cursor: pointer !important;
}

.aero {
  line-height: 1.5 !important;
}

// Typography
b,
b *,
strong,
strong *,
.bold {
  font-weight: 700 !important;
}

ol,
ul {
  list-style: none;
}

em {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase !important;
}

.u {
  text-decoration: underline !important;
}

.u-hover:hover {
  text-decoration: underline !important;
}

.italic {
  font-style: italic !important;
}

.f-0 {
  font-size: 0 !important;
}

.f-12 {
  font-size: 12px !important;
}

.f-14 {
  font-size: 14px !important;
}

.f-16 {
  font-size: 16px !important;
}

.ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.break-word {
  word-break: break-word;
}

.nowrap {
  white-space: nowrap;
}

// Aligns
.center {
  text-align: center !important;
}
.left {
  text-align: left !important;
}
.right {
  text-align: right !important;
}
.va-middle {
  vertical-align: middle !important;
}
.va-top {
  vertical-align: top !important;
}
.va-bottom {
  vertical-align: bottom !important;
}
.va-baseline {
  vertical-align: baseline !important;
}
.flex-center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.space-between {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}
.justify-end {
  justify-content: flex-end !important;
}
.justify-start {
  justify-content: flex-start !important;
}

.justify-center {
  justify-content: center !important;
}

.align-center {
  align-items: center !important;
}

// Flex
.dis-flex {
  display: flex;
}

.flex {
  flex: 1;
}

// Displays
.dis-ib {
  display: inline-block !important;
}
.dis-b {
  display: block !important;
}
.dis-t {
  display: table !important;
}
.dis-tc {
  display: table-cell !important;
}
.show {
  display: block !important;
}
.hide {
  display: none !important;
}

// Positions
.pos-rel {
  position: relative !important;
}
.pos-abs {
  position: absolute !important;
}
.pos-fix {
  position: fixed !important;
}

// Width
.w-20 {
  width: 20% !important;
}
.w-25 {
  width: 25% !important;
}
.w-33 {
  width: 33.3333% !important;
}
.w-50 {
  width: 50% !important;
}
.w-66 {
  width: 66.6666% !important;
}
.w-75 {
  width: 75% !important;
}
.w-100 {
  width: 100% !important;
}

// Height
.h-25 {
  height: 25% !important;
}
.h-33 {
  height: 33% !important;
}
.h-50 {
  height: 50% !important;
}
.h-66 {
  height: 66% !important;
}
.h-75 {
  height: 75% !important;
}
.h-100 {
  height: 100% !important;
}

.modal-opened {
  overflow: hidden;
}

.z-index-1 {
  z-index: 1 !important;
}

// Margins
@include margin(0);
@include margin(5);
@include margin(10);
@include margin(15);
@include margin(20);
@include margin(25);
@include margin(30);
@include margin(40);
@include margin(50);

.m-x-auto {
  margin-left: auto;
  margin-right: auto;
}

// Paddings
@include padding(0);
@include padding(5);
@include padding(10);
@include padding(15);
@include padding(20);
@include padding(30);
@include padding(50);

// Show/Hide breakpoints

@media (min-width: 1025px) {
  .hide-desktop {
    display: none !important;
  }
}

@media (min-width: 1280px) {
  .hide-large-desktop {
    display: none !important;
  }
}

@media (min-width: 1025px) and (max-width: 1279px) {
  .hide-small-desktop {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .hide-tablet {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .hide-phone {
    display: none !important;
  }
}
