@mixin margin ($size) {
	$unit:  #{$size}px;

	.m-#{$size} {
		margin: $unit !important;
	}

	.mt-#{$size} {
		margin-top: $unit !important;
	}

	.mr-#{$size} {
		margin-right: $unit !important;
	}

	.mb-#{$size} {
		margin-bottom: $unit !important;
	}

	.ml-#{$size} {
		margin-left: $unit !important;
	}
}

@mixin padding ($size) {
	$unit:  #{$size}px;

	.p-#{$size} {
		padding: $unit !important;
	}

	.pt-#{$size} {
		padding-top: $unit !important;
	}

	.pr-#{$size} {
		padding-right: $unit !important;
	}

	.pb-#{$size} {
		padding-bottom: $unit !important;
	}

	.pl-#{$size} {
		padding-left: $unit !important;
	}
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

@mixin shadow($type) {
	@if $type == "medium" {
  	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
	} @else if $type == "large" {
 		box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
	} @else {
  	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	}
}
