// Fonts
$font1: 1em 'Roboto', sans-serif;

//  Colors
$primary: #5b5b5b;
$light: #888A90;
$border: #E6E9EC;
$background: #e1e1e1;
$background_light: #f9fbfd;

$text: rgba(0, 0, 0, 0.7);
$text_light: #C6CBD3;

$danger: #F44336;
$success: #7cc576;

// Heights
$header_height: 70px;
$footer_height: 50px;
$mobile_header: 60px;
$mobile_footer: 40px;

// Boilerplate
@import "mixins";
@import "bootstrap-grid";
@import "boilerplate";

// Vendor
@import "vendor/react-select";
@import "vendor/swal";
@import "vendor/swal-override";

// Components
@import "components/typography";
@import "components/buttons";
@import "components/inputs";
@import "components/modals";

// Shared
@import "shared/header";
@import "shared/footer";
@import "shared/base";


// Pages
@import "pages/landing";
@import "pages/rentals";
@import "pages/rental";
@import "pages/users";
