.router-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

html,
body {
  &.prevent-scroll {
    overflow: hidden;
  }
}

// Colors
.white {
  color: #ffffff !important;
}

.white-bg {
  background-color: #fff !important;
}

.primary {
  color: $primary !important;
}

.primary-bg {
  background-color: $primary !important;
}

.background-bg {
  background-color: $background !important;
}

.light {
  color: $light !important;
}

.light-bg {
  background-color: $light !important;
}

.danger {
  color: $danger !important;
}

.danger-bg {
  background-color: $danger !important;
}

.success {
  color: $success !important;
}

.success-bg {
  background-color: $success !important;
}

// General
.main-wrapper {
  min-height: 100vh;
  display: flex;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
}

.route-container {
  overflow: hidden;
}

body {
  font: $font1;
  color: $text;
  font-size: 14px;

  * {
    outline: none;
  }
}

h1 {
  font-size: 40px;
}

a {
  color: inherit;
}

.bt {
  border-top: 1px solid $border;
}

.br {
  border-right: 1px solid $border;
}

.bb {
  border-bottom: 1px solid $border;
}

.bl {
  border-left: 1px solid $border;
}

.ba {
  border: 1px solid $border;
}

.mainHeader {
  margin: 50px 0;
}
