#mobile-header {
  display: none;
}

#header {
  background: #fff;
  z-index: 100;
  color: $text;
  height: $header_height;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px solid $border;

  .logo {

  }

  .nav {
    &-link {
      margin-left: 20px;
      cursor: pointer;
    }
  }

  .no-link {
    cursor: default;
    pointer-events: none;
    text-decoration: none;
  }
}

@media (max-width: 767px) {
  #mobile-header {
    display: flex;
    width: 100%;
    height: $mobile_header;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    padding: 0 20px;
    background: #fff;
    color: $text;
    border-bottom: 1px solid $border;
  }
}
